{% extends "layout.html" %}

{% block title %}Data Reporter{% endblock %}

{% block content %}
<p class="head">What is your Address?</p>
<form action="/next5" method="POST">
  <label for="comment">Adress</label>
  <input name="data" class="form-control" id="exampleFormControlInput1" placeholder="4527 Columbia rd Harford County Maryland ">
  <button id="buttonright" type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
</form>
<form action="/home" method="POST">
  <button id="buttonleft" type="submit" class="btn btn-outline-danger btn-lg">Home</button>
</form>

{% endblock %}
