{% extends "layout.html" %}

{% block title %}Data Reporter{% endblock %}

{% block content %}
<p class="head">Upload a Picture of Your Passport or Your Birth Certificate </p>
<form action="/finish" method="POST" enctype="multipart/form-data">
  <input name="data" type="file" id="myFile">
  <button id="buttonright" type="submit" class="btn btn-outline-success btn-lg">Finish</button>
</form>
<form action="/home" method="POST">
  <button id="buttonleft" type="submit" class="btn btn-outline-danger btn-lg">Home</button>
</form>

{% endblock %}
