{% extends "layout.html" %}

{% block title %}Data Reporter{% endblock %}

{% block content %}
<form id="form" action="/next3" method="POST">
  <p class="head">What Are You?</p>
    <div class="radio ">
      <label><input type="radio" name="data" value="male" checked>Male</label>
    </div>
    <div class="radio ">
      <label><input type="radio" name="data" value="female">Female </label>
    </div>
    <div class="radio ">
      <label><input type="radio" name="data" value="other">Other</label>
    </div>
    <div class="radio ">
      <label><input type="radio" name="data" value="mrs.adams">Mrs.Adams</label>
    </div>
  <button id="buttonright" type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
</form>
<form action="/home" method="POST">
  <button id="buttonleft"type="submit" class="btn btn-outline-danger btn-lg">Home</button>
</form>

{% endblock %}
