{% extends "layout.html" %}

{% block title %}Data Reporter{% endblock %}

{% block content %}
<p class="head">What is your Email Address and Password?</p>
<form action="/next6" method="POST">
  <label for="comment">Email Adress</label>
  <input  type="Email" name="data" class="form-control" id="exampleFormControlInput1" placeholder="name@gmail.com">
  <label for="comment">Password</label>
  <input   name="data" class="form-control" id="exampleFormControlInput1" placeholder="name456">
  <button id="buttonright" type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
</form>
<form action="/home" method="POST">
  <button id="buttonleft" type="submit" class="btn btn-outline-danger btn-lg">Home</button>
</form>

{% endblock %}
