{% extends "layout.html" %}

{% block title %}Data Reporter{% endblock %}

{% block content %}
<p class="head">This is a survey about you determine a corilation between your smash main and your personality! </p>
<p class="subhead">Press Next to continue</p>
<form class="buttonright" action="/next1" method="POST">
  <button type="submit" class="btn btn-outline-success btn-lg">Next</button>
</form>
<form class="buttonleft" action="/home" method="POST">
  <button type="submit" class="btn btn-outline-danger btn-lg">Home</button>
</form>
<p class="subhead"> {{sent}} </p>
{% endblock %}
