{% extends "layout.html" %}

{% block title %}Data Reporter{% endblock %}

{% block content %}
<p class="head">Who Is Your Smash Main?</p>
<form  action="/next2" method="POST">
  <div class="form-group">
    <label for="sel1">Select One</label>
    <select name='data' class="form-control" id="sel1">
      <option>
      <option>Mario
      <option>Link
      <option>Samus
      <option>Dark Samus (Echo)
      <option>Yoshi
      <option>Kirby
      <option>Fox
      <option>Pikachu
      <option>Luigi
      <option>Ness
      <option>Captain Falcon

      <option>Jigglypuff

      <option>Peach

      <option>Daisy (Echo)

      <option>Bowser

      <option>Ice Climbers

      <option>Sheik

      <option>Zelda

      <option>Dr. Mario

      <option>Pichu

      <option>
      Falco
      <option>
      Marth
      <option>
      Lucina (Echo)
      <option>
      Young Link
      <option>
      Ganondorf

      <option>Mewtwo

      <option>Roy

      <option>Chrom (Echo)

      <option>Mr. Game & Watch

      <option>Meta Knight

      <option>Pit

      <option>Dark Pit (Echo)

      <option>
      Zero Suit Samus
      <option>
      Wario
      <option>
      Snake
      <option>
      Ike

      <option>Pokemon Trainer (Squirtle)

      <option>Pokemon Trainer (Ivysaur)

      <option>Pokemon Trainer (Charizard)

      <option>Diddy Kong

      <option>Lucas

      <option>Sonic

      <option>King Dedede

      <option>Olimar

      <option>Lucario

      <option>R.O.B.

      <option>Toon Link

      <option>Wolf

      <option>Villager

      <option>Mega Man

      <option>Wii Fit Trainer

      <option>Rosalina & Luma

      <option>Little Mac

      <option>Greninja

      <option>Mii Fighter (Brawler)

      <option>Mii Fighter (Swordfighter)

      <option>Mii Fighter (Gunner)

      <option>Palutena

      <option>Pac-Man

      <option>Robin

      <option>Shulk

      <option>Bowser Jr.
      <option>Duck Hunt
      <option>Ryu
      <option>Ken (Echo)
      <option>Cloud
      <option>Corrin
      <option>Bayonetta
      <option>Inkling
      <option>Ridley
      <option>Simon Belmont
      <option>Richter (Echo)
      <option>King K. Rool
      <option>Isabelle
      <option>Incineroar
    </select>
  </div>
  <button id="buttonright" type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
</form>
<form action="/home" method="POST">
  <button id="buttonleft"type="submit" class="btn btn-outline-danger btn-lg">Home</button>
</form>
{% endblock %}
