{% extends "layout.html" %}

{% block title %}Data Reporter{% endblock %}

{% block content %}
<p class="head">Who Is Your Smash Main?</p>
<form  action="/next2" method="POST">
  <div class="form-group">
    <label for="sel1">Select One</label>
    <select name='data' class="form-control" id="sel1">
      <option>Mario
      <option>
      <option>Link
      <option>
      <option>Samus
      <option>
      <option>Dark Samus (Echo)
      <option>
      <option>Yoshi
      <option>
      <option>Kirby
      <option>
      <option>Fox
      <option>
      <option>Pikachu
      <option>
      <option>Luigi
      <option>
      <option>Ness
      <option>
      <option>Captain Falcon
      <option>
      <option>Jigglypuff
      <option>
      <option>Peach
      <option>
      <option>Daisy (Echo)
      <option>
      <option>Bowser
      <option>
      <option>Ice Climbers
      <option>
      <option>Sheik
      <option>
      <option>Zelda
      <option>
      <option>Dr. Mario
      <option>
      <option>Pichu
      <option>
      <option>
      <option>Falco
      <option>
      <option>Marth
      <option>
      <option>Lucina (Echo)
      <option>
      <option>Young Link
      <option>
      <option>Ganondorf
      <option>
      <option>Mewtwo
      <option>
      <option>Roy
      <option>
      <option>Chrom (Echo)
      <option>
      <option>Mr. Game & Watch
      <option>
      <option>Meta Knight
      <option>
      <option>Pit
      <option>
      <option>Dark Pit (Echo)
      <option>
      <option>
      <option>Zero Suit Samus
      <option>
      <option>Wario
      <option>
      <option>Snake
      <option>
      <option>Ike
      <option>
      <option>Pokemon Trainer (Squirtle)
      <option>
      <option>Pokemon Trainer (Ivysaur)
      <option>
      <option>Pokemon Trainer (Charizard)
      <option>
      <option>Diddy Kong
      <option>
      <option>Lucas
      <option>
      <option>Sonic
      <option>
      <option>King Dedede
      <option>
      <option>Olimar
      <option>
      <option>Lucario
      <option>
      <option>R.O.B.
      <option>
      <option>Toon Link
      <option>
      <option>Wolf
      <option>
      <option>Villager
      <option>
      <option>Mega Man
      <option>
      <option>Wii Fit Trainer
      <option>
      <option>Rosalina & Luma
      <option>
      <option>Little Mac
      <option>
      <option>Greninja
      <option>
      <option>Mii Fighter (Brawler)
      <option>
      <option>Mii Fighter (Swordfighter)
      <option>
      <option>Mii Fighter (Gunner)
      <option>
      <option>Palutena
      <option>
      <option>Pac-Man
      <option>
      <option>Robin
      <option>
      <option>Shulk
      <option>
      <option>Bowser Jr.
      <option>
      <option>Duck Hunt
      <option>
      <option>Ryu
      <option>
      <option>Ken (Echo)
      <option>
      <option>Cloud
      <option>
      <option>Corrin
      <option>
      <option>Bayonetta
      <option>
      <option>Inkling
      <option>
      <option>Ridley
      <option>
      <option>Simon Belmont
      <option>
      <option>Richter (Echo)
      <option>
      <option>King K. Rool
      <option>
      <option>Isabelle
      <option>
      <option>Incineroar
      <option>
    </select>
  </div>
  <button id="buttonright" type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
</form>
<form action="/home" method="POST">
  <button id="buttonleft"type="submit" class="btn btn-outline-danger btn-lg">Home</button>
</form>
{% endblock %}
